// Place all the styles related to the movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button{
    background-color: #999999;
    border: none;
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 30px;
}

.wrap {
    margin-left : 10%;
    margin-right : 10%;
}

.reader {
    HEIGHT : 8em;
}
.search {
    width : 40%;
    margin-top : 3em;
    margin-left: auto;
    margin-right: auto;
    display : flex;
    
}

.poster{
    margin-left : auto;
    margin-right : auto;
    width : 33%;
}

.posters{
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    align-items : center;
}

.content {
    margin-right : 3em;
}