<div class="wrap">
<div class="reader">
    
    <form action="new_movie">
        <div class="search">
        <input type="text" class="form-control" name="title" id="title" placeholder="movie">
        <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    
</div>

<div class="posters">
    <% @movie_list.each do |movie| %>
    <section class="poster">
        <%= image_tag(movie.poster) %>
            <form action="edit">
                <div class="content">
                    <p>Title : <%= movie.title%></p>
                    <p>Genre : 
                        <input type="text" name="genre" value="<%= movie.genre%>" class="form-control" id="genre">
                    </p>
                    <p>Director :
                        <input type="text" name="director" value="<%= movie.director%>" class="form-control" id="director">
                    </p>
                    <p>
                        <textarea name="id" style="display:none;"><%= movie.id%></textarea>
                        <button type="submit" class="btn btn-outline-info btn-sm">edit</button>
                    </p>
                </div>
            </form>
            <form action="delete">
                <textarea name="id" style="display:none;"><%= movie.id%></textarea>
                <button type="submit" class="btn btn-outline-info btn-sm">delete</button>
            </form>
    </section>
    <%end%>
</div>
</div>
